
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--section-bg);
 }

html { scroll-behavior: smooth; }


:root {
  --bg: #ffffff;
  --surface: #ffffff;
  --section-bg: #f8fafc;
  --text: #334155;
  --text-muted: #64748b;
  --primary: #3b82f6;
  --border: #e2e8f0;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

body.dark-theme {
  --bg: #0f172a;
  --surface: #111827;
  --section-bg: #0b1220;
  --text: #e2e8f0;
  --text-muted: #94a3b8;
  --primary: #7dd3fc; /* or keep #3b82f6 */
  --border: #334155;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}
